{% extends "student/base.html" %}
{% block content %}
<h1><b>Frequently Asked Questions<b></b></h1>
<hr/>
<div>
    <h5>Question 1: How can I reset my password?</h5>
    <p>Answer: You can reset your password by clicking on the 'Forgot Password' link on the login page.</p>
    
    <h5>Question 2: What payment methods do you accept?</h5>
    <p>Answer: We accept various payment methods including credit cards and PayPal.</p>

    <h5>Question 3: How do I contact customer support?</h5>
    <p>Answer: You can contact us through the 'Contact Us' form on our website.</p>
</div>
{% endblock %}