<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success text-center">
            <h1>Order Successful!</h1>
            <p>Thank you for your purchase! Your order has been successfully processed.</p>
            <p>Now, You can watch videos corresponding to your purchased course. If you have any questions, feel free to contact support.</p>
            <a class="btn btn-primary" href="{% url 'student_dashboard' %}">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>

