{% extends 'trainer/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2><b>List of Courses</b></h2>
    <div class="row">
      {% if courses %}
        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{course.image.url}}" class="card-img-top" style="height: 200px; width: auto; object-fit: contain;" alt="{{ course.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">
                        Trainer:
                        {% if course.trainer %}
                            {{ course.trainer.name }}
                        {% else %}
                            Not assigned
                        {% endif %}
                    </p>
                    <p>Price : Rs.{{ course.price }}</p>
                    <a href="{% url 'detailview_t' course.pk %}" class="btn btn-primary">Details</a>
                    <a href="" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No courses available.</p>
        </div>
        {% endfor %}
        {% else %}
      <div class="col-12">
          <p>No courses found matching your search.</p>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}
